<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key = "connectionString" value = "Server=192.168.*.***;Database=DB_NAME;User ID=USER_ID;Password=PWD;Pooling=false;"/>
		<add key = "cookiePath" value = "PATH TO LINKEDIN COOKIE" />
		<add key = "linkedInURL" value="http://www.linkedin.com/" />
		<add key = "logFilePath" value="LOG PATH" />
	</appSettings>
</configuration>